/* ----------------------------------- */
/* ----------- Normalizado ----------- */
/* ----------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



/* ----------------------------------- */
/* ------------- General ------------- */
/* ----------------------------------- */

header{
    background-image: url(../images/design1_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -14vh;
    height: 20vh;
}

.titulo{
    background-color: rgba(35, 35, 35, 0.729);
    padding-left: 1%;
    text-shadow: 2px 2px 3px red;
    font-family: 'Times New Roman', Times, serif;
}

.subtitulo{
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 35px;
    margin-bottom: 1rem;
    padding-top: 1px;
    border-color: rgb(255, 0, 0);
    border-bottom-style: solid;
    border-top-style: solid;

}

#logo{
    width: 80px;
    position: absolute;
    top: 115px;
    right: 10vw;
    background-color: white;
    border-style: solid;
    border-color: red;
}

nav, .texto-index, .texto-about, .texto-contact, .texto-info, .texto-rules, .texto-reg{
    display: inline-block;
    height: 69vh;
    vertical-align: top;
}

.texto-about article, .texto-index article, .texto-contact p{
    padding-bottom: 8px;
}

nav{
    width: 19%;
    padding: 0.6rem;
}

.activo{
    background-color: orangered;
}

a{
    display: block;
    width: 100%;
    height: 3rem;
    text-align: center;
    background-color: orange;
    margin-bottom: 10px;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(51, 51, 51);
}

.texto-index, .texto-about, .texto-contact, .texto-info, .texto-rules, .texto-reg{
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    width: 78%;
    font-size: 14px;
}

.negrita{
    font-weight: bold;
    padding-right: 0.3rem;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 590px) {
    #logo{
        right: 10px;
        top: 40px;
    }

    nav{
        width: 100%;
        height: 60vh;
    }

    .texto-index, .texto-about, .texto-contact, .texto-info, .texto-rules, .texto-reg{
        width: 100%;
        border-top-style: solid;
        border-radius: 0rem;
        padding: 1rem;
    }
}

@media (min-width: 590px) {
    .texto-index, .texto-about{
        font-size:20px;   
    }
}



/* ---------------------------------- */
/* ----------- index.html ----------- */
/* ---------------------------------- */

.main-index{
    background-image: url(../images/hockey1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10px;
    height: 80vh;
}

.texto-index{
    font-size:20px;
}

@media (max-width: 590px){
    .main-index{
        background-size: 102vh;
        background-position-x: center;
    }
}



/* ---------------------------------- */
/* ----------- about.html ----------- */
/* ---------------------------------- */

.main-about{
    background-image: url(../images/hockey2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10px;
    height: 100vh;
}

.texto-about{
    height: 90vh;
}

@media (max-width: 590px){
    .main-about{
        background-size: 90vh;
        background-position-x: center;
    }
}



/* ---------------------------------- */
/* ---------- contact.html ---------- */
/* ---------------------------------- */

.main-contact{
    background-image: url(../images/hockey3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.mail{
    background-color: unset;
    text-align: center;
    display: inline;
    color: blanchedalmond;
    text-decoration: underline;
}

@media (max-width: 590px){
    .main-contact{
        background-size: 97vh;
        background-position-x: center;
    }
}

@media (min-width: 590px) {
    

    .texto-contact{
        font-size: 24px;
    }
}


/* ---------------------------------- */
/* --------- game_info.html --------- */
/* ---------------------------------- */

.main-info{
    background-image: url(../images/hockey1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
}

.info-ad p{
    width: 100%;
    padding-bottom: 0.8rem;
}

.info-ad{
    padding-top: 0.8rem;
}

.tabla th, .tabla td{
    padding: 2px 5px;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 1.5px;
    background-color: rgba(50, 50, 50, 0.799);
}

.texto-info{
    height: 94%;
}

iframe{
    margin: 0.1rem;
    border-radius: 1rem;
    width: 49%;
}

@media (max-width: 590px){
    .main-info{
        background-size: 104vh;
        background-position-x: center;
        height: 330vh;
    }

    iframe{
        width: 93vw;
    }
}



/* ---------------------------------- */
/* ----------- rules.html ----------- */
/* ---------------------------------- */

.main-rules{
    background-image: url(../images/hockey5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
}

.texto-rules{
    height: 93%;
}

.texto-rules h3{
    text-align: center;
}

.texto-rules ol, .texto-rules ul{
    padding-left: 30px;
}

.mention{
    text-align: center;
}

.lista-abc{
    list-style-type: lower-latin;
}

@media (max-width: 590px){
    .main-rules{
        background-size: 121vh;
        background-position-x: center;
        height: 200vh;
    }
}

@media (min-width: 800px){
    .texto-rules{
        font-size: 17px;
    }
}



/* ----------------------------------- */
/* -------- registration.html -------- */
/* ----------------------------------- */

.main-reg{
    background-image: url(../images/hockey3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
}

.formulario{
    display: flex;
    flex-direction: column;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.texto-reg{
    height: 60%;
}

.justificado{
    padding-right: 3rem;
}

.flex{
    display: flex;
}

@media (max-width: 590px){
    .main-reg{
        background-size: 97vh;
        background-position-x: center;
    }
}